/*#0b6c90*/
/*#00aeef*/
/*font-family: 'Roboto', sans-serif;*/

body {
  font-family: 'Roboto', sans-serif;
}

hr {
  border-color: black;
  border-width: 2px;
  margin: 20px 0 20px 0;
}

.header-background {
  background-color: #00aeef;
}

.header-container {
  height: 60px;
}

.header-logo-container { height: 100%; }

.header-logo {
  width: 200px;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-nav-container { height: 100%; }

.nav {
  display: inline-block;
  color: white;
  float: right;
  list-style: none;
}

.nav li {
  display: inline;
  margin: 0 20px 0 20px;
  line-height: 100%;
}

.nav li a {
  color: white;
  text-decoration: none;
}

.nav li a:hover {
  text-decoration: underline;
}

/**************************
******** MAIN ********
**************************/

.main-heading-container {
  padding-top: 20px;
  text-align: center;
}

.heading-logo {
  margin: auto;
}

.main-heading-container h2 {
  color: #00aeef;
  font-size: 1.3em;
  margin-bottom: 0;
}

.main-heading-container h3 {
  color: black;
  font-size: 1em;
  margin-top: 0;
}



.heading-image img {
  width: 100%;
  height: auto;
}

.main-heading-container h5 {
  margin-top: 40px;
}

.main-heading-container h5 span {
  color: #00aeef;
}


/**************************
******** PRODUCTS ********
**************************/

.products-container {
  text-align: center;
}

.products-heading h1 {
  text-decoration: underline;
  text-decoration-color: #00aeef;
}

.product-box {
  box-sizing: border-box;
  border: 2px solid black;
  height: auto;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.product-image-container {
  width: auto;
  height: 200px;
  float: left;
}

.product-image-container img {
  width: 100%;
  height: auto;
  max-height: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.product-box-heading {
  background-color: #00aeef;
  width: 100%;
  height: 30%;
  float: left;
}

.product-box-heading h2 {
  font-size: 1em;
  font-weight: bold;
}

.products-container p a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-decoration: underline;
}

/**************************
******** SERVICES ********
**************************/

.services-container {
  text-align: center;
}

.services-heading h1 span {
  text-decoration: underline;
  text-decoration-color: #00aeef;
  margin: 20px 0 20px 0;
}

.service-box {
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.service-image-container {
  width: 100%;
  height: 200px;
  float: left;
}

.service-image-container img {
  width: 50%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.service-heading-container {
  width: 100%;
  height: auto;
  float: left;
}

.service-heading-container h3 {
  color: #00aeef;
}

.service-box p {
  font-size: 0.8em;
}
