
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .nav li:not(:last-child) {
    display: none;
  }

  #menu-hamburger {
    display: block;
  }

  .footer-logo, .footer-contact, .footer-contact ul, .footer-location {
    float: none;
    text-align: center;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #menu-hamburger {
    font-size: 1.5em;
  }


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
